@media (max-width: 480px) {
    .burger_btn {
        display: block;
        order: 3;
    }
    .header_orderBlock_basket {
        margin-left: 15px;
    }
    .header_orderBlock {
        
    }
    .header_nav {
        display: none;
        position: absolute;
        top:80px;

    }
    .show_btn {
        display: block;
    }
    .main_proposition {
        padding: 50px 200px 50px 20px;
    }
    .main_proposition_img {
        right: -100px;
        top: 10px;
        position: absolute;
    }
    .main_proposition_title {
        width: 140px;
        color: var(--font-white-color);
        font-family: Montserrat;
        font-style: SemiBold;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        padding-left: 20px;
    }
    .footer_container {
        justify-content: space-around;
        gap: 30px;
    }
    .product_characteristic_container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .product_characteristic_buyBlock {
        margin-bottom: 30px;
    }
    .product_characteristic_description {
        width: 100%;
    }
}